<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>109484316758-0dp9vjjepnkm1opeaqind03n11531p3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.109484316758-0dp9vjjepnkm1opeaqind03n11531p3q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>109484316758-32qrqfca5gig1b597jadqtr30phaep0b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1o5aP6tSfrL6Vx1qzOwDQ26_-9VNJH6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>109484316758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.CoronaCare</string>
	<key>PROJECT_ID</key>
	<string>coronacare-322b1</string>
	<key>STORAGE_BUCKET</key>
	<string>coronacare-322b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:109484316758:ios:0e7992a3622a73a3d003f7</string>
	<key>DATABASE_URL</key>
	<string>https://coronacare-322b1.firebaseio.com</string>
</dict>
</plist>
